# Database (Neon)
DATABASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# n8n
NEXT_PUBLIC_N8N_URL=""
N8N_WEBHOOK_SECRET=""

# Groq
GROQ_API_KEY=""